In [21]:
#!pip install textblob

In [37]:
import pandas as pd
import os
import string
from textblob import TextBlob

In [43]:
train_file = './Data/train.csv'
train_enriched_file = './Data/train_enriched.csv'
special_char = '~:;}]{[!@#$%^&*()_+=-><,.|\/?\'\"'
hash_char = '#'
at_char = '@'

In [3]:
train_df = pd.read_csv(train_file,encoding='utf-8')
train_df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [40]:
train_df['word_count'] = train_df['text'].apply(lambda t: len(t.split()))
train_df['unique_words_count'] = train_df['text'].apply(lambda t: len(set(t.split())))
train_df['Tweet_len'] = train_df['text'].apply(lambda t: len(t))
train_df['special_chars_count'] = train_df['text'].apply(lambda t: len([c for c in str(t) if c in special_char]))
train_df['punctuation_count'] = train_df['text'].apply(lambda t: len([c for c in str(t) if c in string.punctuation]))
train_df['hash_count'] = train_df['text'].apply(lambda t: len([c for c in str(t) if c in hash_char]))
train_df['@_count'] = train_df['text'].apply(lambda t: len([c for c in str(t) if c in at_char]))
train_df['URL_count']  = train_df['text'].apply(lambda t: len([w for w in str(t).lower().split() if 'http' in w or 'https' in w]))
train_df['sentiment'] = train_df['text'].apply(lambda t: TextBlob(t).sentiment.polarity)
train_df['subjectivity'] = train_df['text'].apply(lambda t: TextBlob(t).sentiment.subjectivity)

In [41]:
# The polarity score is a float within the range [-1.0, 1.0], where -1 is very negative and +1 very positive
# The subjectivity is a float within the range [0.0, 1.0], where 0.0 is very objective and 1.0 is very subjective.

In [42]:
train_df.iloc[30:35]

,id,keyword,location,text,target,word_count,unique_words_count,Tweet_len,special_chars_count,punctuation_count,hash_count,@_count,URL_count,sentiment,subjectivity
30,44,NaN,NaN,The end!,0,2,2,8,1,1,0,0,0,0.0000,0.00
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1,5,5,55,6,6,0,1,1,0.0000,0.00
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0,10,10,67,8,8,2,0,1,-0.2000,0.50
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1,9,9,82,9,9,1,0,1,0.0000,0.00
34,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0,7,7,34,1,1,0,0,0,0.2125,0.55

In [44]:
train_df.to_csv(train_enriched_file, encoding='utf-8',index=False)